.pin img {
  object-fit: cover;
  height: 90%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.pin {
  display: flex;
  max-height: 400px;
}
.pin a {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pin .title {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0;
}
.pins {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2.5vmin;
  padding: 2.5vmin;
  grid-auto-flow: dense;
  padding-bottom: 64px;
}
